<section class="answers">
  <div class="answers-faq-container">
    <ul class="answers-faq-list">
      <li>FAQ</li>
    </ul>
  </div>
  <div class="answers-container">
    <div class="answers-title-cont">
      <h3 class="answers-title">Answers to the frequently asked questions.
        </h3>
        <a href="#" class="answers-btn">Contact us
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M4.75 10H15.25" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  <path d="M10 4.75L15.25 10L10 15.25" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
</svg>
        </a>
      </div>
      <div class="answers-list-cont">
      <ul class="answers-list">
        <li class="answers-item">
          What is green energy?
          <p class="answers-text">
            Green energy, also known as renewable energy, is derived from
            natural sources that are replenished on a human timescale. This
            includes solar, wind, hydro, geothermal, and biomass energy, among
            others.
          </p>
        </li>
        <li class="answers-item">
          How does green energy benefit the environment?
          <p class="answers-text">
            Green energy reduces the reliance on fossil fuels, lowering
            greenhouse gas emissions and mitigating climate change. It also
            helps conserve natural resources and promotes a cleaner, sustainable
            future.
          </p>
        </li>
        <li class="answers-item">
          What green energy solutions does your company offer?
          <p class="answers-text">
            We provide a range of green energy solutions, including solar power
            systems, wind turbines, energy-efficient appliances, and smart home
            technologies to enhance energy sustainability.
          </p>
        </li>
        <li class="answers-item">
          What support services do you offer after installing green energy
          solutions?

          <p class="answers-text">
            We offer ongoing maintenance, monitoring, and support services to
            ensure the optimal performance and longevity of your green energy
            system. Our team is ready to assist with any issues that may arise.
          </p>
        </li>
        <li class="answers-item">
          How do solar panels work?
          <p class="answers-text">
            Solar panels convert sunlight into electricity through photovoltaic
            cells. These cells generate direct current (DC), which is then
            converted into usable alternating current (AC) for household or
            commercial use.
          </p>
        </li>
      </ul>
      </div>
    </div>
</section>
