<section class="blog" id="blog">
  <div class="container blog-container">
    <p class="blog-text-decoration">Blog</p>
    <div class="text-button-container">
      <div class="blog-text-btn">
        <h2 class="blog-title">Learn more from our blog</h2>
        <p class="blog-text">
          Our team boasts top green energy experts, driving innovation in
          sustainability.
        </p>
      </div>
      <button class="blog-btn" type="button" id="see-all">See all</button>
    </div>
    <div class="blog-wrapper">
      <ul class="blog-list">
        <li class="blog-item">
          <picture
            ><source
              srcset="
                ./img/blog/solar-energy.webp    1x,
                ./img/blog/solar-energy@2x.webp 2x
              " />
            <img
              class="blog-image"
              src="./img/blog/solar-energy.webp"
              alt="Solar Energy"
              width="520"
          /></picture>

          <div class="blog-item-container">
            <h3 class="blog-item-title">
              Harnessing the Power of the Sun: Exploring the World of Solar
              Energy
            </h3>
            <p class="blog-item-paragraf">
              Solar energy is revolutionizing the way we power our world. In
              this blog post, we'll delve into the incredible poof solar
              technology, its environmental benefits, and how you can tap into
              this sustainable energy source for a brighter future. of solar
              technology, its environmental benefits, and how you can tap into
              this sustainable energy source for a brighter future.
            </p>

            <div class="blog-item-expert">
              <picture>
                <source
                  srcset="
                    ./img/blog/leslie-alexander.png,
                    ./img/blog/leslie-alexander@2x.png 2x
                  "
                />

                <img
                  class="blog-item-photo"
                  src="./img/blog/leslie-alexander.png"
                  alt="photo Leslie Alexander"
                  width="40"
                />
              </picture>

              <p class="expert-name">Leslie Alexander</p>
              <p class="expert-text">9 min read</p>
            </div>
          </div>
        </li>
        <li class="blog-item">
          <picture
            ><source
              srcset="
                ./img/blog/wind-power.webp    1x,
                ./img/blog/wind-power@2x.webp 2x
              " />
            <img
              class="blog-image"
              src="./img/blog/wind-power.webp"
              alt="Wind power"
              width="520"
          /></picture>
          <div class="blog-item-container">
            <h3 class="blog-item-title">
              Wind Power: A Breath of Fresh Air for Clean Energy Enthusiasts
            </h3>
            <p class="blog-item-paragraf blog-item-paragraf-two">
              Solar energy is revolutionizing the way we power our world. In
              this blog post, we'll delve into the incredible potential of solar
              technology, its environmental benefits, and how you can tap into
              this sustainable energy source for a brighter future.
            </p>
            <div class="blog-item-expert">
              <picture>
                <source
                  srcset="
                    ./img/blog/jenny-wilson.png    1x,
                    ./img/blog/jenny-wilson@2x.png 2x
                  "
                />

                <img
                  class="blog-item-photo"
                  src="./img/blog/jenny-wilson.png"
                  alt="photo Jenny Wilson"
                  width="40"
                />
              </picture>

              <p class="expert-name">Jenny Wilson</p>
              <p class="expert-text">12 min read</p>
            </div>
          </div>
        </li>
        <li class="blog-item">
          <picture
            ><source
              srcset="
                ./img/blog/from-trash-to-treasure.webp    1x,
                ./img/blog/from-trash-to-treasure@2x.webp 2x
              " />
            <img
              class="blog-image"
              src="./img/blog/from-trash-to-treasure.webp"
              alt="From trash to treasure"
              width="520"
          /></picture>
          <div class="blog-item-container">
            <h3 class="blog-item-title">
              From Trash to Treasure: The Promising World of Biomass Energy
            </h3>
            <p class="blog-item-paragraf">
              Solar energy is revolutionizing the way we power our world. In
              this blog post, we'll delve into the incredible potential of solar
              technology, its environmental benefits, and how you can tap into
              this sustainable energy source for a brighter future.
            </p>
            <div class="blog-item-expert">
              <picture>
                <source
                  srcset="
                    ./img/blog/wade-warren.png    1x,
                    ./img/blog/wind-power@2x.webp 2x
                  "
                />

                <img
                  class="blog-item-photo"
                  src="./img/blog/wade-warren.png"
                  alt="photo Wade Warren "
                  width="40"
                />
              </picture>
              <p class="expert-name">Wade Warren</p>
              <p class="expert-text">7 min read</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
