<section class="experts" id="team">
  <div class="container">
    <div class="experts_top">
      <div class="experts_text_block">
        <h2 class="experts_title">Meet our experts</h2>
        <p class="experts_text">
          Our team boasts top green energy experts, driving innovation in
          sustainability.
        </p>
      </div>
      <div class="experts_nav">
        <span class="left"
          ><img
            src="img/experts/big-arrow-right.svg"
            alt="left arrow"
            width="40"
            height="40" /></span
        ><span class="right"
          ><img
            src="img/experts/big-arrow-right.svg"
            alt="right arrow"
            width="40"
            height="40"
        /></span>
      </div>
    </div>
    <div class="experts_swiper swiper">
      <ul class="experts_swiper_list swiper-wrapper">
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-1.webp    1x,
                  img/experts/Image-1@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-1.webp"
                alt="expert pretty woman"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Jenny Wilson</h3>
              <p class="experts_item_text">Senior Sustainability Consultant</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-2.webp    1x,
                  img/experts/Image-2@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-2.webp"
                alt="expert pretty man"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Cameron Williamson</h3>
              <p class="experts_item_text">Senior Sustainability Consultant</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-3.webp    1x,
                  img/experts/Image-3@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-3.webp"
                alt="expert pretty woman"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Courtney Henry</h3>
              <p class="experts_item_text">Energy Analysts</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-4.webp    1x,
                  img/experts/Image-4@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-4.webp"
                alt="expert pretty woman"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Dianne Russell</h3>
              <p class="experts_item_text">Senior Renewable Energy Engineer</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-1.webp    1x,
                  img/experts/Image-1@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-1.webp"
                alt="expert pretty woman"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Jenny Wilson</h3>
              <p class="experts_item_text">Senior Sustainability Consultant</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-2.webp    1x,
                  img/experts/Image-2@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-2.webp"
                alt="expert pretty man"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Cameron Williamson</h3>
              <p class="experts_item_text">Senior Sustainability Consultant</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-3.webp    1x,
                  img/experts/Image-3@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-3.webp"
                alt="expert pretty woman"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Courtney Henry</h3>
              <p class="experts_item_text">Energy Analysts</p>
            </div>
          </div>
        </li>
        <li class="experts_list_items swiper-slide">
          <div class="experts_item_container">
            <picture>
              <source
                srcset="
                  img/experts/Image-4.webp    1x,
                  img/experts/Image-4@x2.webp 2x
                "
              />
              <img
                src="img/experts/Image-4.webp"
                alt="expert pretty woman"
                class="experts_img"
                width="312"
                height="432"
              />
            </picture>
            <div class="experts_item_text_block">
              <h3 class="experts_item_title">Dianne Russell</h3>
              <p class="experts_item_text">Senior Renewable Energy Engineer</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
