<section class="features">
    <div class="container">
        <div class="features-content">

            <p class="features-content-text">
                Our commitment to green energy is paving the way for a cleaner, healthier planet.
            </p>

            <div class="features-panel">

                <div class="features-evcharging">
                    <h2 class="features-panel-title features-evcharging-title">EV charging</h2>
                </div>

                <div class="features-solarenergy">
                    <h2 class="features-panel-title features-solarenergy-title active">Solar Energy</h2>
                    <p class="features-panel-text features-solarenergy-text">
                        Solar panels convert sunlight into
                        electricity. Photovoltaic
                        (PV) cells on these panels capture the energy from the sun
                        and convert it into electrical power.</p>
                    <a href="#" class="features-learnmore">Learn more</a>
                </div>

                <div class="features-windenergy">
                    <h2 class="features-panel-title features-windenergy-title">Wind Energy</h2>
                </div>

                <div class="features-hydropower">
                    <h2 class="features-panel-title features-hydropower-title">Hydropower</h2>
                </div>

            </div>


        </div>
        <div class="features-image">
            <img src="/img/features/features-img.webp"
                srcset="/img/features/features-img.webp 1x, img/features/features-img@2x.webp 2x " alt="Features Image">
        </div>
    </div>
</section>