<footer class="footer">
  <div class="container">
    <div class="footer_main">
      <a href="" class="footer_logo"
        ><img src="/img/Logo.svg" alt="logo" class="footer_logo_img" /><img
          src="img/footer/FooterLogo.svg"
          alt="flow"
          class="footer_logo_img"
      /></a>
      <!-- nav -->
      <div class="footer_nav">
        <ul class="footer_menu_list">
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Platform</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Resources</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Solutions</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Blog</a>
          </li>
        </ul>
        <ul class="footer_menu_list">
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Company</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">About</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Our Mission</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Careers</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Contact</a>
          </li>
        </ul>
        <ul class="footer_menu_list">
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">How it works</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Help Center</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Pricing</a>
          </li>
          <li class="footer_menu_item">
            <a href="" class="footer_menu_link">Support</a>
          </li>
        </ul>
      </div>
      <!-- social -->
      <ul class="footer_social">
        <li class="footer_social_item">
          <a
            href=""
            class="footer_social_link"
            aria-label="Facebook"
            target="_blank"
          >
            <div class="footer_social_image">
              <svg class="social_icon" width="18" height="18">
                <use href="/img/footer/sprite.svg#icon-facebook-icon"></use>
              </svg>
            </div>
            Follow us on Facebook</a
          >
        </li>
        <li class="footer_social_item">
          <a
            href=""
            class="footer_social_link"
            aria-label="instagram"
            target="_blank"
          >
            <div class="footer_social_image">
              <svg class="social_icon" width="18" height="18">
                <use href="/img/footer/sprite.svg#icon-instagram-icon"></use>
              </svg>
            </div>
            Follow us on Instagram</a
          >
        </li>
        <li class="footer_social_item">
          <a
            href=""
            class="footer_social_link"
            aria-label="LinkedIn"
            target="_blank"
          >
            <div class="footer_social_image">
              <svg class="social_icon" width="18" height="18">
                <use href="/img/footer/sprite.svg#li-icon"></use>
              </svg>
            </div>
            Follow us on LinkedIn</a
          >
        </li>
      </ul>
    </div>
    <div class="footer_bottom">
      <p>© 2024 Flow. All rights reserved.</p>
    </div>
  </div>
</footer>
