<header class="header">
  <div class="container">
    <div class="header_left">
      <a href="" class="header_logo"
        ><img src="/img/Logo.svg" alt="logo" class="footer_logo_img" /><img
          src="img/footer/FooterLogo.svg"
          alt="flow"
          class="footer_logo_img"
      /></a>
      <nav class="header_nav">
        <ul class="header_nav_list">
          <li class="header_nav_item">
            <a href="" class="header_item_link">About us</a>
          </li>
          <li class="header_nav_item">
            <a href="" class="header_item_link">Team</a>
          </li>
          <li class="header_nav_item">
            <a href="" class="header_item_link">Solutions</a>
          </li>
          <li class="header_nav_item">
            <a href="" class="header_item_link">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="" class="header_button">Get in touch</a>
  </div>
</header>
