<section class="hero">
  <div class="container">
    <div class="hero_l_img"></div>
    <div class="hero_r_img"></div>
    <div class="hero_main">
      <img src="" alt="" class="hero_power" />
      <h1 class="hero_title">The Future of Green Energy</h1>
      <p class="hero_text">
        Our commitment to green energy is paving the way for a cleaner,
        healthier planet. Join us on a journey towards a future where clean,
        renewable energy sources transform the way we power our lives.
      </p>
      <div class="hero_bottom">
        <a href="" class="hero_btn_left">See our solutions</a
        ><a href="" class="hero_btn_right">Get in touch</a>
      </div>
    </div>
    <div class="hero_bottom_block">
      <div class="hero_bottom_block_left"></div>
      <div class="hero_bottom_block_right"></div>
    </div>
  </div>
</section>
