<section class="hero">
  <div class="container">
    <div class="hero_l_img"></div>
    <div class="hero_r_img"></div>
    <div class="hero_main">
      <div class="hero_top_block">
        <img
          src="/img/hero/dot-icon.png"
          alt="dot-image"
          class="hero_power"
          width="12"
          height="12"
        />
        <p class="hero_power_text">Powering Tomorrow</p>
      </div>
      <h1 class="hero_title">The Future of Green Energy</h1>
      <p class="hero_text">
        Our commitment to green energy is paving the way for a cleaner,
        healthier planet. Join us on a journey towards a future where clean,
        renewable energy sources transform the way we power our lives.
      </p>
      <div class="hero_bottom">
        <a href="" class="hero_btn_left">See our solutions</a
        ><a href="" class="hero_btn_right">Get in touch</a>
      </div>
    </div>
    <div class="hero_bottom_block">
      <div class="hero_bottom_block_left"></div>
      <div class="hero_bottom_block_right"></div>
    </div>
  </div>
  <div class="hero_partners">
    <h2 class="hero_pertners_title">Global partners that trusted us</h2>
    <ul class="hero_partners_list">
      <li class="hero_partners_items">
        <a href="" class="hero_partners_link">
          <svg class="hero_partners_img" width="168" height="40">
            <use href="/img/hero/GE_logos.svg#Typev1"></use>
          </svg>
        </a>
      </li>
      <li class="hero_partners_items">
        <a href="" class="hero_partners_link">
          <svg class="hero_partners_img" width="168" height="40">
            <use href="/img/hero/GE_logos.svg#Typev8"></use>
          </svg>
        </a>
      </li>
      <li class="hero_partners_items">
        <a href="" class="hero_partners_link">
          <svg class="hero_partners_img" width="168" height="40">
            <use href="/img/hero/GE_logos.svg#Typev3"></use>
          </svg>
        </a>
      </li>
      <li class="hero_partners_items">
        <a href="" class="hero_partners_link">
          <svg class="hero_partners_img" width="168" height="40">
            <use href="/img/hero/GE_logos.svg#Typev4"></use>
          </svg>
        </a>
      </li>
      <!--<li class="hero_partners_items">
        <a href="" class="hero_partners_link">
          <svg class="hero_partners_img" width="168" height="40">
            <use href="/img/hero/GE_logos.svg#Typev5"></use>
          </svg>
        </a>
      </li>
      <li class="hero_partners_items">
        <a href="" class="hero_partners_link">
          <svg class="hero_partners_img" width="168" height="40">
            <use href="/img/hero/GE_logos.svg#Typev6"></use>
          </svg>
        </a>
      </li>-->
    </ul>
  </div>
</section>
