<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <p class="reviwes-paragraf">Testimonials</p>
    <h2 class="reviews-title">What our customers say</h2>
    <div class="reviews-wrapper">
      <ul class="reviews-list">
        <li class="reviews-item">
          <p class="reviews-item-text">
            “Flow transformed my energy use. Efficient, green tech, outstanding
            service!”
          </p>
          <div class="rewiews-photo-text">
            <picture>
              <source
                srcset="
                  ./img/reviews/jenny.png    1x,
                  ./img/reviews/jenny@2x.png 2x
                "
              />
              <img
                class="reviews-item-img"
                src="./img/reviews/jenny.png"
                alt="photo Jenny"
                width="56"
              />
            </picture>
            <div class="reviews-paragraf">
              <h3 class="reviews-name">Jenny Wilson</h3>
              <p class="reviews-name-text">Solar energy service</p>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <p class="reviews-item-text">
            “Flow redefined my energy game – green, efficient, and top-notch
            service!”
          </p>
          <div class="rewiews-photo-text">
            <picture>
              <source
                srcset="
                  ./img/reviews/dianne.png    1x,
                  ./img/reviews/dianne@2x.png 2x
                "
              />
              <img
                class="reviews-item-img"
                src="./img/reviews/dianne.png"
                alt="photo Dianne"
                width="56"
              />
            </picture>
            <div class="reviews-paragraf">
              <h3 class="reviews-name">Dianne Russell</h3>
              <p class="reviews-name-text">EV service</p>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <p class="reviews-item-text">
            “Thanks to Flow, my energy is now solar-powered – sustainable,
            efficient, and exceptional service.”
          </p>
          <div class="rewiews-photo-text">
            <picture>
              <source
                srcset="./img/reviews/cody.png 1x, ./img/reviews/cody@2x.png 2x"
              />
              <img
                class="reviews-item-img"
                src="./img/reviews/cody.png"
                alt="photo Cody"
                width="56"
              />
            </picture>
            <div class="reviews-paragraf">
              <h3 class="reviews-name">Cody Fisher</h3>
              <p class="reviews-name-text">Solar energy service</p>
            </div>
          </div>
        </li>
        <li class="reviews-item">
          <p class="reviews-item-text">
            “Flow transformed my energy use. Efficient, green tech, outstanding
            service!”
          </p>
          <div class="rewiews-photo-text">
            <picture>
              <source
                srcset="
                  ./img/reviews/courtney.png    1x,
                  ./img/reviews/courtney@2x.png 2x
                "
              />
              <img
                class="reviews-item-img"
                src="./img/reviews/courtney.png"
                alt="photo Courtney"
                width="56"
              />
            </picture>
            <div class="reviews-paragraf">
              <h3 class="reviews-name">Courtney Henry</h3>
              <p class="reviews-name-text">Solar energy service</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
