<section class="subscribe">
  <div class="container">
    <div class="left-container">
      <h2 class="subscribe-title">Your Source for Green Energy Updates</h2>
      <p class="subscribe-text">
        Stay in the loop with our Green Horizon newsletter, where we deliver
        bite-sized insights into the latest green energy solutions.
      </p>
      <form class="subscribe-form">
        <label class="subscribe-label" for="user-email">
          <input
            class="subscribe-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Your e-mail...."
          />
        </label>
        <button class="subscribe-form-btn" type="submit">Get in touch</button>
      </form>
      <div class="circle-green"></div>
    </div>
    <div class="circle-png">
      <picture>
        <source
          srcset="
            /img/subscribe/subtract.png    1x,
            /img/subscribe/subtract@2x.png 2x
          "
        />
      </picture>
      <img
        src="/img/subscribe/subtract.png"
        alt="substract"
        width="226"
        height="452"
      />
    </div>
  </div>
</section>
