.faq-section {
    max-width: 656px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

.faq-title {
    font-weight: 400;
    font-size: 62px;
    line-height: 1.09677;
    letter-spacing: -0.03em;
    text-align: center;
    color: #1d1f1e;
    margin-bottom: 24px;
}

.faq-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44444;
    letter-spacing: 0em;
    text-align: center;
    color: #646a69;
    margin-bottom: 112px;
}

.faq-item {
    border-top: 2px solid #BEF264;
    /* зеленая линия сверху */
    text-align: left;
}

.faq-item-title {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0em;
    color: #1d1f1e;
    margin: 24px 0 16px 0;
}

.faq-item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #646a69;
    padding-bottom: 56px;
}

.faq-footer {
    text-align: center;
    padding: 20px;
}

.faq-footer .faq-icon {
    margin-bottom: 32px;
}

.faq-footer-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #1d1f1e;
    margin-bottom: 16px;
}

.faq-footer-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    color: #646a69;

}

.faq-footer a {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #1d1f1e;

}